.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-wapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

.cart {
  height: 400px;
  margin-top: 40px;
  position: relative;
}

.cart-img {
  height: 200px;
}

.cart-btn {
  position: absolute;
  bottom: 10px;
}

.storeCard-wapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
