

.nav {
    padding: 0 10%;
    max-width: 100%;
    background-color: #2e77f6;
    color: white; 
    display: flex; 
    justify-content: space-between;
    
}


.nav img {
    max-width: 250px;
    height: 60px;
    margin: 10px 0;
    border-radius: 3px;
}

.searchbox {
    margin: 20px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.searchbox input {
    border: none;
    border-radius: 5px;
    padding: 10px;
}


.serchicone {
    font-size: 20px;
    color: black;
    padding: 10px;
    cursor: pointer
}

@media only screen and (max-width: 600px) {
    .nav {
      padding: 0;
    }
    .nav img {
        max-width: 200px;
    }
    .searchbox input {
        padding: 5px;
        width: 150px
    }
  }

